<main class='container'>
    <div class='header'>
        <h1>Update flashcard</h1>
        <%= link_to sanitize("&larr; Back to flashcard"), flashcard_path(@flashcard) %>
    </div>

    <%= render "form", flashcard: @flashcard %>
</main>
