<h1>Flashcards</h1>
<%= link_to "New flashcard", new_flashcard_path %>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <% @flashcards.each do |flashcard| %>
            <tr>
                <td><%= flashcard.question %></td>
                <td><%= flashcard.answer %></td>
            </tr>
        <% end %>
    </tbody>
</table>