<main class='container'>

    <div class='header'>
        
        <h1>Flashcards</h1>
        <%= link_to "New flashcard", new_flashcard_path, class: "btn btn--primary" %>
    </div>

    <%= render @flashcards %>
    
</main>