<main class='container'>
    <div class='header'>
        <h1></h1>
        <%= link_to sanitize("&larr; Back to flashcards"), flashcards_path %>
    </div>
    
    <%= render @flashcard %>

</main>


